{{page-title "Dataexchange"}}

<div class="pe-5 ps-5">
    <Navbar />
    <h1 class="mt-2">DATA EXCHANGE</h1>
    <div class="d-flex flex-row justify-content-center align-items-center gap-4">
        <div><img class="img-fluid" src="/assets/img/dataexchangejunction.png" alt=""></div>
        <div class="text-center"> &rarr; <img class="img-fluid rounded-pill" src="/assets/img/dataexchangeicon.png" alt=""> &larr; </div>
        <div><img class="img-fluid" src="/assets/img/dataexchangesheet.png" alt=""></div>
    </div>
    
    <div class="text-end">
      <LinkTo @route="index">
          <button type="button" class="btn btn-outline-info mb-3">&larr; Data Types </button>
      </LinkTo>
  </div>
</div>


{{outlet}}